<body>
    <div class="container">
        <header>
              <nav>
                 <ul class='cat-list'>
                   <li>{{#link-to 'application'}}Home{{/link-to}}</li>
                   <li>{{#link-to 'application'}}Specials{{/link-to}}</li>
                   <li>{{#link-to 'application'}}All Products{{/link-to}}</li>
                   <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
                   <li>{{#link-to 'about'}}About{{/link-to}}</li>
                 </ul>
               </nav>

                 <div class="top-head">
                   <div class="logo">
                      {{#link-to "cart"}}Cart{{/link-to}}
                      {{#link-to "index"}}<h2>shopYcart</h2>{{/link-to}}
                      
                  </div>
                   <section id="search">
                     {{input type="text" onfocus="if(this.value=='Search..')" value="Search.." name="q"}}
                     {{input type="submit" value="Search"}}
                       <ul id="social">
                          <li>{{#link-to 'application'}}<img src="assets/images/facebook.png">{{/link-to}}</li>
                          <li>{{#link-to 'application'}}<img src="assets/images/google-plus.png">{{/link-to}}</li>
                          <li>{{#link-to 'application'}}<img src="assets/images/twitter.png">{{/link-to}}</li>
                          <li>{{#link-to 'application'}}<img src="assets/images/youtube.png">{{/link-to}}</li>
                       </ul>
                   </section>
                 </div>
              <section id="submenu">
                <ul>
                  <li>{{#link-to 'category'}}Category #1{{/link-to}}</li>
                  <li>{{#link-to 'application'}}Category #2{{/link-to}}</li>
                  <li>{{#link-to 'application'}}Category #3{{/link-to}}</li>
                  <li>{{#link-to 'application'}}Category #4{{/link-to}}</li>
                  <li>{{#link-to 'application'}}Category #5{{/link-to}}</li>
                  <li>{{#link-to 'application'}}Category #6{{/link-to}}</li>
                </ul>
              </section>
        </header>
   </div>

  <div class="main1">
    {{outlet}}
  </div>





        


     <footer><!-- Defining the footer section of the page -->
        <div id="privacy">
            shopYcart Template © 2017<br> Privacy Policy<br>Restricted Copy 
        </div>
     </footer>
</body>


